{% extends 'base.html.twig' %}
{% block headerNav %}
{% endblock %}
{% block toprow %}
{% endblock %}
{% block sidemenu %}
    <li><a class="left_link" href="{{ app.request.getBaseURL() }}/user/signup">Register</a></li>
    <li><a class="right_link" href="javascript:void(0)" disabled>EPISODE GUIDE</a></li>
    {% endblock %}
    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-card">
                    <h1>Forgot Password?</h1>
                    <br/>
                    {{ form_start(form,{ 'attr': {'class': 'singin'} })}}
                    {% if message !="" %}
                        {{message|raw}}
                    {% endif %}
                    <div class="form-group">
                        {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'Enter Your Email'} }) }}
                    </div>
                    <input type="submit" name="login" class="btn btn-block btn-large" value="Login">
                    {{form_end(form)}}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
