<li><a href="#">
                	<label>First Name :</label>
                    <span>{{userinfo.userFirstName}}</span>	
                </a></li>
                <li><a href="#">
                	<label>Last Name :</label>
                    <span>{{userinfo.userLastName}}</span>	
                </a></li>
                <li><a href="#">
                	<label>Email :</label>
                    <span>{{userinfo.userEmail}}</span>
                </a></li>
                <li><a href="#">
                	<label>Password :</label>
                    <span>************</span>	
                </a></li>
                <li><a href="#">
                	<label>Gender :</label>
                    <span>{{userinfo.userGender}}</span>	
                </a></li>
                <li><a href="#">
                	<label>Date of Birth :</label>
                    <span>{{userinfo.userDob|date('Y-m-d')}}</span>
                </a></li>
                <li><a href="#">
                	<label>Address 1:</label>
                    <span>{{userinfo.userStreetAddress}}</span>
                </a></li>
                <li><a href="#">
                	<label>Address 2:</label>
                    <span>{{userinfo.userStreetAddress2}}</span>
                </a></li>
                <li><a href="#">
                	<label>City:</label>
                    <span>{{userinfo.userCity}}</span>
                </a></li>
                <li><a href="#">
                	<label>State:</label>
                    <span>{{userinfo.userState}}</span>
                </a></li>
                <li><a href="#">
                	<label>Zip / Country :</label>
                    <span>{{userinfo.userZip}}</span>
                </a></li>
                <li><a href="#">
                	<label>Country :</label>
                    <span>{{userinfo.userCountry}}</span>	
                </a></li>
                <li><a href="{{userinfo.userFacebookLink}}" target="_blank">
                	<label>Facebook :</label>
                    <span>{{userinfo.userFacebookLink}}</span>
                </a></li>
                <li><a href="{{userinfo.userTwitterLink}}" target="_blank">
                	<label>Twitter:</label>
                    <span>{{userinfo.userTwitterLink}}</span>
                </a></li>
                <li><a href="{{userinfo.userGoogleLink}}" target="_blank">
                	<label>Google + :</label>
                    <span>{{userinfo.userGoogleLink}}</span>
                </a></li>